body {
  background-image: url("background.jpg");
  text-align: center;

}

.green {
	color: Green;
	border: 2px solid green;
}

tr{
  text-align:left;
  margin-left: auto;
}
caption{
  text-align: left;
}
td, th{
  color: Black;
  border: 1px solid green;
  border-style: solid;
}

td:hover, th:hover{
  border-color: red;
}

.button{
  background-color: green;
  color: white;
  border-radius: 25px;
  float: left;
}
.button:hover{
  background-color: blue;
}
